body {
  height: 100vh;
}

.container1 {
  columns: 3;
  border: 10px solid pink;
  padding: 10px;
  width: 70%;
  margin: auto;
  gap: 3em;
}

.container1 .item {
  display: block;
  border: 1px solid;
}

.container {
  display: flex;
  gap: 20px 10px;
  align-items: center;
  height: 300px;
  border: 10px solid pink;
  justify-content: space-evenly;
}

.container .item {
  flex: 1 1 200px;
  border: 1px solid;
  height: 100px;
  width: 200px;
  align-self: center;
  text-align: center;
}

::highlight(abc) {
  background-color: yellow;
  color: black;
}